[popover] {
	border: none;
	margin: 0;
	padding: 0;
	box-shadow: var(--card);
	border-radius: 0.5em;
	background-color: light-dark(hsl(0, 0%, 100%), hsl(0, 0%, 20%));
}

.color-list {
	--card: 0 1px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	color-scheme: light dark;
	max-width: 210px;
	padding-bottom: 4px;

	& span {
		display: inline-block;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		margin-left: 0.6em;
		vertical-align: middle;
		background-color: var(--mark-clr);
		cursor: pointer;

		&:active {
			outline: 1px dashed red;
			color: #ffff00;
		}
	}
}

svg {
	fill: red;
	height: 20px;
	margin-inline: 3px;
	vertical-align: middle;
	cursor: pointer;

	&[hidden] {
		display: none;
	}

	&.remove-highlight path {
		d: path(
			"M12 2C17.5 2 22 6.5 22 12S17.5 22 12 22 2 17.5 2 12 6.5 2 12 2M12 4C10.1 4 8.4 4.6 7.1 5.7L18.3 16.9C19.3 15.5 20 13.8 20 12C20 7.6 16.4 4 12 4M16.9 18.3L5.7 7.1C4.6 8.4 4 10.1 4 12C4 16.4 7.6 20 12 20C13.9 20 15.6 19.4 16.9 18.3Z"
		);
	}
}
