highlight-board {
	display: flex;
	flex-direction: column;
	width: 70%;
	justify-content: center;
	row-gap: 0.5em;
	padding: 0.2em;
}

highlight-block {
	border-left: 4px solid var(--mark-clr, yellow);
	box-shadow: var(--card);
	border-radius: 0.4em;
	padding: 0.4em;
	background-color: light-dark(white, hsl(0, 0%, 16%));
	cursor: pointer;

	&:hover {
		background-color: light-dark(white, black);
	}

	& p {
		margin-top: 0.2em;
	}

	& textarea {
		display: none;
		font-size: small;
		field-sizing: content;
		width: 100%;
		border: var(--border);
		box-shadow: var(--card);
		border-radius: 4px;
		padding: 2px;
	}

	&:focus-within textarea {
		display: block;
	}
}
